*.vs
*.git
WebAPI/appsettings.Development.json
/ApplicationLayer/bin/Debug/net8.0
/ApplicationLayer/obj/Debug/net8.0
/ApplicationLayer/obj/Release/net8.0
/ApplicationLayer/obj
/BusinessLayer/bin/Debug/net8.0
/BusinessLayer/obj
/DataAccessLayer/bin/Debug/net8.0
/DataAccessLayer/obj/Debug/net8.0
/DataAccessLayer/obj/Release/net8.0
/WebAPI/bin/Debug/net8.0
/WebAPI/obj
/DataAccessLayer/obj
/WebAPI/WebAPI.csproj.user
